Source: ros-kinetic-open-manipulator
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://emanual.robotis.com/docs/en/platform/openmanipulator
Standards-Version: 3.9.2

Package: ros-kinetic-open-manipulator
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-open-manipulator-description, ros-kinetic-open-manipulator-dynamixel-ctrl, ros-kinetic-open-manipulator-gazebo, ros-kinetic-open-manipulator-moveit, ros-kinetic-open-manipulator-msgs, ros-kinetic-open-manipulator-position-ctrl, ros-kinetic-open-manipulator-with-tb3
Description: ROS-enabled OpenManipulator is a full open robot platform consisting of OpenSoftware​, OpenHardware and OpenCR(Embedded board)​.
 OpenManipulator are based on ROS ​and OpenSource. ROS official hardware platform, TurtleBot series has been supporting ‘TurtleBot Arm’. The OpenManipulator has full hardware compatibility with TurtleBot3​, and allows users to control it more easily by linking with the MoveIt! package. Even if you do not have a real robot, you can control the robot in the Gazebo simulator​.
