Source: ros-kinetic-open-manipulator-with-tb3
Section: misc
Priority: extra
Maintainer: Pyo <pyo@robotis.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin
Homepage: http://emanual.robotis.com/docs/en/platform/openmanipulator
Standards-Version: 3.9.2

Package: ros-kinetic-open-manipulator-with-tb3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-joint-state-publisher, ros-kinetic-robot-state-publisher
Description: The robot description package for OpenManipulator and TurtleBot3
